# Ignore Python virtual environments
venv/
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore other temporary or development files
.DS_Store
.idea/
.vscode/
*.log

# Ignore build and distribution directories
build/
dist/
*.egg-info/

# Ignore coverage reports
.coverage
coverage/

# Ignore environment files
env/
.env
